*.pdf
temp_web_itinerario.html
__pycache__/
.venv/
.env/
temp_*/
paquetes_personalizados.json

# No ignorar imágenes necesarias para el itinerario
!*.png
!*.jpg
!*.jpeg
!*.webp
!assets/

ITINERARIOS WEB/
env_itinerario/